/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* STRUCTURAL */
.container {
  --primary-color: #BF6415;
  --secondary-color: #8C503A;
  --text-color: #052533;
  --color-contrast: #FAF2EC;
  --header-height: 7rem;
  color: var(--text-color);
  background-color: var(--color-contrast);
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container.night {
  --color-contrast: #052533;
  --text-color: #FAF2EC;
}

.container>section {
  flex: 1;
  max-height: calc(100vh - var(--header-height));
  display: flex;
}

header {
  width: 100vw;
  height: var(--header-height);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

aside {
  flex-basis: 40rem;
  padding: 2rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

aside .icon-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

main {
  overflow-y: auto;
  flex: 1;
  padding: 4rem 40rem 4rem 4rem;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/* NEUMORPHISM */
.up {
  box-shadow: 8px 8px 16px #787471,
    -8px -8px 16px #ffffff;
}

.up.hoverable:hover {
  box-shadow: 8px 8px 32px #787471,
    -8px -8px 32px #ffffff;
  cursor: pointer;
}

.down {
  box-shadow: inset 8px 8px 16px #787471,
    inset -8px -8px 16px #ffffff;
}

.down.hoverable:hover {
  box-shadow: inset 8px 8px 32px #787471,
    inset -8px -8px 32px #ffffff;
  cursor: pointer;
}

.container.night .up {
  box-shadow: 8px 8px 32px #031922,
    -8px -8px 32px #073144;
}

.container.night .up.hoverable:hover {
  box-shadow: 8px 8px 16px #031922,
    -8px -8px 32px #073144;
}

.container.night .down {
  box-shadow: inset 8px 8px 32px #031922,
    inset -8px -8px 32px #073144;
}

.container.night .down.hoverable:hover {
  box-shadow: inset 8px 8px 16px #031922,
    inset -8px -8px 16px #073144;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  line-height: 1;
}

h6 small,
h1 small {
  color: var(--secondary-color);
}

h1 {
  font-size: 8rem;
  margin: 0 0 6rem 0;
}

h2 {
  font-size: 7rem;
  margin: 0 0 5rem 0;
}

h3 {
  font-size: 6rem;
  margin: 0 0 4rem 0;
}

h4 {
  font-size: 5rem;
  margin: 0 0 3rem 0;
}

h5 {
  font-size: 4rem;
  margin: 0 0 2rem 0;
}

h6 {
  font-size: 3rem;
  margin: 2rem 0;
}

h6 small {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 2rem;
  line-height: 2;
}

aside p {
  font-size: 1.5rem;
}

.posts article h2 {
  font-size: 4rem;
  margin-bottom: .5rem;
  color: var(--text-color);
}

.posts article h3 {
  font-size: 2rem;
  margin: 0;
  color: var(--text-color);
}

.posts article h4 {
  font-size: 2em;
  margin-bottom: .5em;
  color: var(--secondary-color);
}

article.post h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

article.post h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

article.post h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

article.post h4 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

article.post h5,
article.post h6 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

article.post h6.date {
  color: #787471;
}

article.post pre span {
  font-size: 2rem;
  line-height: 1.7;
}


/* POSTS */
.posts .post-summary {
  margin-bottom: 2rem;
  padding: 3rem 0;
  border-bottom: 1px solid var(--secondary-color);
}

.posts .post-summary:hover {
  cursor: pointer;
}

.posts .post-summary:hover h2 {
  color: var(--primary-color);
}

.posts .post-summary article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posts .post-summary article .image-container {
  width: 16rem;
  height: 16rem;
  margin-left: 1rem;
  flex-shrink: 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.posts .post-summary article .image-container img {
  width: 100%;
}

.post {
  margin-top: 4em;
}

.post .content {
  margin-top: 4em;
}

/* BUTTONS */
button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
}

button:hover {
  color: var(--secondary-color);
}

button.icon {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
}

button.icon span {
  margin-left: 1rem;
}

/* AVATAR */
.avatar {
  padding: 1rem;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
}

.avatar.mini {
  width: 50px;
  height: 50px;
  padding: 4px;
}

.avatar img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

@media (max-width: 1281px) {
  main {
    padding: 2rem;
  }
}

@media (max-width: 769px) {

  /* STRUCTURE */
  .container section {
    flex-direction: column;
    overflow-y: auto;
  }

  aside {
    order: 2;
  }

  main {
    padding: 2rem;
    overflow-y: unset;
  }

  /* POSTS */
  .posts .post-summary {
    padding-top: 0;
  }

  .posts .post-summary article {
    flex-direction: column;
    align-items: flex-start;
  }

  .posts .post-summary article .info {
    order: 2;
  }

  .posts .post-summary article .image-container {
    margin: 0;
  }

  /* TYPOGRAPHY */
  h1,
  h2,
  h3,
  h4,
  h5,
  article.post h6 {
    margin-bottom: 1em;
  }

  h1,
  article.post h1 {
    font-size: 3rem;
  }

  h2,
  article.post h2,
  .posts article h2 {
    font-size: 2.5rem;
  }

  .posts article h2 {
    color: var(--primary-color);
  }

  h3,
  article.post h3,
  .posts article h3 {
    font-size: 2rem;
  }

  h4,
  article.post h4 {
    font-size: 2rem;
    font-weight: normal;
  }

  h5,
  article.post h5 {
    font-size: 1.5rem;
  }

  article.post h6 {
    font-size: 1.5rem;
    font-weight: normal;
  }

  article.post h6:not(.date) {
    margin-top: 0;
  }

  p,
  article.post pre span {
    font-size: 1.5rem;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}